
// $drk-text-color: darken($text-color, 10%);

.header{
	background: $header-color;
	color: $title-text-color;
	margin-bottom: $xl-size;
	padding: $m-size 0;
	// text-align: center;
}

// BEM block element modifier

.header__title {
	font-size: $xl-size;
	margin: 0 0;
}

.header__subtitle {
	color: $text-color;
	font-size: $m-size;
	font-weight: 500;
	margin: 0;
}