//  ###### COLORS ######
$header-color: #20222b;
$title-text-color: #DDDDDD;
$text-color: #a5afd7;
$background-color: #333745;
$widget-header-bg: #3C4251;
$widget-bg: #464b5e;
$button-purple: #8357c5;


// ##### SPACING ######
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;